@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: var(--wallpaper);
}

@layer base {
  :root {
    --wallpaper: #fffff;
    --background: hsl(78.3, 92%, 100%);
    --foreground: hsl(222.2, 84%, 4.9%);

    --muted: #faedcd;
    --muted-foreground: #70563d;

    --popover: hsl(0, 0%, 100%);
    --popover-foreground: hsl(222.2, 84%, 4.9%);

    --card: #fffefb;
    --card-foreground: hsl(222.2, 84%, 4.9%);

    --border: #faedcd;
    --input: #faedcd;

    --primary: #a2ab87;
    --primary-foreground: hsl(210, 40%, 98%);

    --secondary: #fffefb;
    --secondary-foreground: hsl(222.2, 47.4%, 11.2%);

    --accent: hsl(210, 40%, 96.1%);
    --accent-foreground: hsl(222.2, 47.4%, 11.2%);

    --destructive: hsl(0, 84.2%, 60.2%);
    --destructive-foreground: hsl(210, 40%, 98%);

    --ring: #faedcd;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;

    --primary: hsl(210 40% 98%);
    --primary-foreground: hsl(222.2 47.4% 11.2%);

    --secondary: hsl(217.2 32.6% 17.5%);
    --secondary-foreground: hsl(210 40% 98%);

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --ring: 217.2 32.6% 17.5%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
